@font-face {
    font-family: 'Chainreact Block Boxter';
    font-style: normal;
    font-weight: normal;
    src: local('Chainreact Block Boxter'), url('Chainreact Block Boxter.woff') format('woff');
}

* {
    box-sizing: border-box;
    font-family: 'Chainreact Block Boxter', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #eee;
    margin: 0;
}

#gameFrame {
    width: 100%;
    height: 100vh;
    /*border: 4px solid #555;*/
    background-color: rgb(22, 22, 22);
    /*border-radius: 5px;*/
    image-rendering: pixelated;
    position: relative;
}

#gameTime {
    position: absolute;
    top: 100px;
    left: 100px;
}

#gameObjective {
    position: absolute;
    bottom: 100px;
    left: 100px;
}

#gameover {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50%;
    /*width: 400px;
    margin-left: -200px;*/
    transform: translate(-50%, -50%);
}

#gameover p {
    font-size: 2em;
}

#gameover button {
    text-decoration: none;
    background-color: #eee;
    color: #555;
    padding: 10px;
    margin-top: 15px;
    border: none;
}

#gameover button:hover {
    background-color: #555;
    color: #eee;
    cursor: pointer;
}

body {
    background-color: #e2e2e2;
    overflow: hidden;
}